style+p{
	color: yellow;
}
*{
	font-family: "Verdana", monospace;
	font-size: 30px;
}
h1{
	font-size: 60px;

}
#h2_tag{
	text-transform: uppercase;
}
.lang{
	background-color: darkseagreen;
}
[type="1"]{
	border-style: dotted;
	border-color: navy;
}
img+ul{
	list-style-type: square;
}
body img{
	border-radius: 50%;
	height: 250px;
	width: 250px;
}
img~p{
	text-align: center;
}
ul>li{
	letter-spacing: 3vh;
}
